<style>
    .form {
    background-color: #D9D6D2;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    }
    .idade {
    margin-top: 10px;
    width: 10%;
    border-radius: 5px;
    align-self: center;
    transition: 1.0s;
    }
    .idade:hover {
    width: 50%;
    }
    h3 {
    color: #8a2be2;
    }
</style>

<main>
    <form action="/insert" class="form" method="POST">
        <h3>Formulário de Cadastro</h3>
        <input class="nome" type="text" name="nome" placeholder="Digite seu nome" required>

        <input class="email" name="email" type="email"  placeholder="Digite seu email" required>

        <input class="idade" name="idade" type="number" id="idade" placeholder="Informe sua idade">

        <button class="botao" type="submit">Cadastrar</button>
    </form>
</main>