<main>
    <form action="/insert" class="form" method="POST">
        <h3>Formulário de Cadastro</h3>
        <input class="nome" type="text" name="nome" placeholder="Digite seu nome">

        <input class="email" name="email" type="email"  placeholder="Digite seu email">

        <input class="idade" name="idade" type="number" id="idade" placeholder="Informe sua idade">

        <button class="botao" type="submit">Cadastrar</button>
    </form>
</main>