<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <style>
        body {
            background-color: black;
            color: #fff;
        }
        main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 90vh;
        }
        .email, .botao, .nome {
            margin-top: 10px;
            width: 50%;
            border-radius: 5px;
            align-self: center;
            }
            .botao {
            width: 50%;
            align-self: center;
            padding: 4px 0;
            background-color: #8a2be2;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.9s;
            text-decoration: none;
            }
        .botao-delete {
            text-align: center;
            width: 50%;
            padding: 3px 6PX;
            align-self: center;
            background-color: red;
            color: #fff;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.9s;
            text-decoration: none;
        }
        .botao-delete:hover {
            background-color: #630101;
        }
        .botao:hover {
            background-color: #450c79;
            }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>